/*body {
  background-color: #EAEAEA;
}*/

.navbar-default {
  background-color: #263238;
  color: #FAFAFA;
  border-radius: 0px;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
  color: #FAFAFA;
}

.navbar-default .navbar-text {
  color: #FAFAFA;
}
.navbar-default .navbar-nav > li > a {
  color: #FAFAFA;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #D0D0D0;
  background-color: transparent;
}

.navbar-default, .navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #263238;
}

.content-wrapper, html, body, .site-wrapper {
  height: 100%;
}

.content-wrapper {
  margin-top: -20px;
}

.sidebar {
  display: inline-block;
  border-right: 2px solid #EEE;
  padding: 15px;
  padding-left: 30px;
  /*width: 340px;*/
  width: 20%;
  height: 100%;
  float: left;
  /*position: absolute;*/
}

.content {
  display: inline-block;
  float: right;
  width: 80%;
  height: 100%;
  padding: 2em;
}

.site-wrapper {
  overflow-x: hidden;
}

.section-header, .subsection {
  margin-bottom: 1em;
}

table.striped-table tr:nth-child(odd){
  background-color: #E0E0E0;
}

table.striped-table {
  width: 100%;
}

table.striped-table td {
  padding: 7px 10px;
}

table.striped-table td.label-col{
  width: 20%;
  font-weight: bold;
}

/* TEMPORARY TYPOGRAPHY STYLESHEET PORTION */
body {
  font: 16px/135% 'Open Sans', sans-serif;
  color: #455463;
  font-style: normal;
  font-weight: normal;
  overflow: auto;
  overflow-y: scroll;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
}
h1 {
  font-size: 2em;
  line-height: 1em;
  color: #1b2229;
  font-weight: 700;
  margin: 0 0 20px 0;
  word-wrap: break-word;
}
h1.inherit {
  margin: 0 15px 5px 0;
}
h1 a {
  text-decoration: underline;
  color: #1b2229;
}
h1 a:hover {text-decoration: none;
  color: #1b2229;
}
h2 {
  font-size: 1.5em;
  line-height: 1em;
  color: #1b2229;
  font-weight: 700;
  margin: 0 0 15px 0;
}
div.subsection div.subsection h2 {font-size: 1.125em;
  color: #455463;
}
h3 {
  font-size: 1.25em;
  line-height: 1.2em;
  font-weight: bold;
  margin: 0 0 10px 0;
  color: #455463;
}
h4 {
  font-size: 1em;
  line-height: 1em;
  font-weight: bold;
  margin: 0 0 10px 0;
  color: #455463;
}
p {
  max-width: 1100px;
  font-size: 0.875em;
  margin: 0 0 15px 0;
}
a {
  color: #b83c82;
  text-decoration: underline;
  outline: none;
  cursor: pointer;
}
a:hover, a:focus, a:active {
  color: #b83c82;
  text-decoration: none;
  outline: none;
}
.cn {
  color: #455463;
}
.cn:hover {
  color: #455463;
}
.b, strong {
  font-weight: 700;
}
ul.l {
  list-style-type: none;
}
ul.l li {
  padding: 0 0 4px 20px;
  background: none;
  position: relative;
  font-size: 0.875em;
}
ul.l li:before {
  content: "\2022";
  font-size: 1.8em;
  position: absolute;
  top: 0;
  left: 0;
  color: #455463;
}
ul.l li a {
  color: #333;
}
